{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('reviews_create') }}">
  {{ form.book_id }}
  <table>
    <tr>
      <td>
        {{ form.rating.label }}
      </td>
      <td>
        {{ form.rating }}
      </td>
      <td>
        <ul>
          {% for error in form.rating.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.reviewText.label }}
      </td>
      <td>
        {{ form.reviewText }}
      </td>
      <td>
        <ul>
          {% for error in form.reviewText.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <input type="submit" value="Lisää arvostelu."/>
      </td>
    </tr>
</form>
{% endblock %}